:host {
  display: block;
  position: relative;
  font-family: HelveticaNeue, helvetica;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
